@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
}

img {
  max-width: 100%;
}

.menu-bar-container {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #3e3c3c;
}

.portfolio-menu {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  align-items: center;
}

.burger-icon {
  display: inline;
}

.portfolio-menu li {
  list-style: none;
}

.personal-logo {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #fff;
  transition: width 2s, height 2s, transform 2s;
}

.personal-logo:hover {
  transform: rotate(360deg);
}

.head-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  background-image: url("../images/Illustration-header-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.media-lateral-links {
  width: 9%;
  margin-left: 39px;
  margin-right: 70px;
  margin-top: 279px;
  margin-bottom: 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.head-information {
  width: 39%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.head-title {
  width: 90%;
  margin: 0;
  height: 30vh;
  padding: 12rem 0 0 0;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  text-align: left;
  color: #f55800;
}

.head-information p {
  color: #fff;
}

.about-information {
  width: 39%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}

.about-information hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  text-align: center;
}

.header-about p {
  margin-left: 142px;
  width: 566px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #fff;
}

.contact-container p {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-left: 135px;
  margin-top: 130px;
  margin-right: 24px;
  margin-bottom: 228px;
  color: #262626;
}

.head-information p:nth-child(2) {
  margin: 1rem;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.head-information p:last-child {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.works-container {
  width: 83%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title {
  padding-top: 135px;
  padding-left: 153px;
  width: 94%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-self: center;
  color: #091e42;
  align-items: center;
}

.works-title h2 {
  width: 40%;
  height: 52px;
  font-family: "Crete Round", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 52px;
}

.works-title img {
  width: 65%;
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  justify-self: right;
}

.works-info-section {
  width: 96%;
  margin-top: 114px;
  margin-bottom: 170px;
}

.multi-post-stories {
  width: 94%;
  display: flex;
  flex-direction: row;
}

.stories-box {
  width: 41%;
  display: flex;
  flex-direction: column;
}

.stories-image {
  width: 65%;
}

.multi-post-title {
  margin-left: 24px;
  margin-top: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.support-text-multi-post {
  margin: 12px 24px 0 24px;
  justify-self: left;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.tags-container {
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.tags-container .tag-title {
  padding: 10px 12px 10px 12px;
  color: #091e42;
  text-decoration: none;
  border: 1px solid #8993a4;
  height: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.tags-container .tag-title a {
  color: #091e42;
  text-decoration: none;
}

.tag-cards-work-container .tag-title a {
  color: #fff;
  text-decoration: none;
}

.button-see-project {
  margin-left: 24px;
  padding: 12px;
  width: 135px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.works-area-cards {
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cards-work-container-1 {
  width: 369px;
  height: 435px;
  margin-left: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/1-img-paceholder.png");
  background-size: cover;
}

.cards-work-container-2 {
  width: 369px;
  height: 435px;
  margin-left: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/2-img-placeholder.png");
  background-position: cover;
}

.box-card-2 {
  width: 100%;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.cards-work-container-3 {
  width: 369px;
  height: 435px;
  margin-left: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/3-img-placeholder.png");
  background-position: cover;
}

.box-card-3 {
  margin: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.cards-work-container-4 {
  width: 369px;
  height: 435px;
  margin-left: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/4-img-placeholder.png");
  background-position: cover;
}

.box-card-4 {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.cards-work-title-2 {
  height: 81px;
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.cards-work-title-3 {
  margin-top: 84px;
  margin-left: 24px;
  height: 81px;
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.cards-work-title-4 {
  margin-top: 84px;
  margin-left: 24px;
  height: 81px;
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.support-text-cards-work {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.tag-cards-work-container {
  width: 236px;
  height: 40px;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button-cards-work {
  padding: 12px 113.5px 12px 113.5px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  cursor: pointer;
}

.about-me-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #262626;
  background-image: url(../images/illustration-about-me.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.content-cards-works {
  display: flex;
  flex-direction: column;
  width: 83%;
  justify-items: center;
}

.tag-cards-stories-container .tag-title-stories {
  margin: 0 12px 0 0;
  border: 1px solid #8993a4;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}

.tag-cards-stories-container .tag-title-stories a {
  color: #091e42;
}

.tag-cards-work-container .tag-title {
  margin: 0 12px 0 0;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
  list-style: none;
}

.header-about h3 {
  margin-left: 142px;
  margin-top: 130px;
  width: 566px;
  height: 78px;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  text-align: left;
  color: #f55800;
}

.header-about button {
  margin-left: 142px;
  padding: 12px;
  width: 161px;
  height: 48px;
  color: #fff;
  background-color: #f55800;
}

.about-tech-skills {
  margin-left: 142px;
  margin-top: 146px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.frameworks-skill {
  margin-right: 176px;
  margin-bottom: 130px;
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-list {
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-skills-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.card-skills-title .icons-skills-rectangle {
  width: 26px;
  height: 26px;
  align-self: center;
}

.card-skills-title .icons-skills-square {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 18px;
}

.card-skills-title .icons-skills-circle {
  width: 20px;
  height: 20px;
  align-self: center;
}

.language-skill {
  margin-right: 176px;
  width: 225px;
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lang-title {
  margin-left: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  align-self: center;
  text-align: center;
  color: #fff;
}

.tags-skills {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #fff;
  list-style: none;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-form {
  margin-left: 24px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

input {
  width: 295px;
  height: 18px;
  border: 0;
  margin-left: 16px;
}

input[type="email"] {
  margin-top: 39px;
}

input[type="submit"] {
  width: 122px;
  height: 48px;
  margin-top: 24px;
  background-color: #f55800;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

textarea {
  margin-top: 24px;
  padding: 12px;
  border: 0;
  font-family: Inter, sans-serif;
  background: #fbf8f7;
}

.separator-line {
  margin-top: 14px;
  width: 684px;
  height: 1px;
  background: #dbd8d7;
  border: 0;
}

.bottom-social-media {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.bottom-social-media hr {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 15px;
  justify-self: flex-start;
}

.media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_form:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 2px solid #f55800;
}

.button:hover {
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@keyframes text {
  from {
    background-color: #cfcfcf;
  }

  to {
    background-color: #f55800;
  }
}

@media (max-width: 768px) {
  .portfolio-menu {
    display: none;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  .head-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    background-image: none;
  }

  .head-information h1 {
    font-size: 4rem;
  }

  .header-about p {
    margin-left: 142px;
    width: 566px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #fff;
  }

  .contact-container p {
    margin: 10%;
    font-size: 2rem;
    color: #262626;
  }

  .head-information p:nth-child(2) {
    font-size: 1.5rem;
    padding-top: 4rem;
  }

  .head-information p:last-child {
    font-size: 1rem;
  }

  .works-title {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
    color: #091e42;
    align-items: center;
  }

  .works-title h2 {
    width: 100%;
    justify-self: center;
  }

  .works-info-section {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .multi-post-stories {
    width: 94%;
    display: flex;
    flex-direction: column;
  }

  .works-container {
    width: 100%;
    background-color: #fff;
    align-items: center;
  }

  .cards-work-container-1 {
    width: 100%;
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/1-img-paceholder.png");
    background-size: cover;
  }

  .cards-work-container-2 {
    width: 100%;
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/2-img-placeholder.png");
    background-size: cover;
  }

  .about-me-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #262626;
    background-image: none;
  }

  .about-information {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .header-about h3 {
    font-size: 5rem;
    margin: 0;
    padding: 10%;
  }

  .header-about button {
    margin: 0;
    padding: 0;
  }

  .about-information hr {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .about-tech-skills {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
