@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BEGIN Header Menu */

header {
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3e3c3c;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration-line: none;
  transition: all 0.5s ease-out;
}

.nav-header {
  display: none;
}

/*  *END Header Menu* */

/* *BEGIN HeadLine Section* */

.head {
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right -10%;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headline h1 {
  margin: 12rem 0 0 0;
  font-family: 'crete round', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #f55800;
}

.headline h2 {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  animation-name: text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.headline p {
  margin: 0 0 15.68rem 0;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  animation-duration: 3s;
  animation-name: slidein;
}

.lateral-bar {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lateral-bar nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* *END HeadLine Section */

/* *BEGIN Recent Works Section* */

.recent-works-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-works {
  margin-top: 8.43rem;
}

.works h3 {
  width: 20rem;
  margin: 8.5rem 0 0 9.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
}

.multi-post img {
  width: 42.75rem;
  height: 28rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
}

.info h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'crete round', sans-serif;
}

.info p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  width: auto;
  list-style: none;
  color: #091e42;
}

.tech p {
  margin: 0;
  font-size: 0.93rem;
  border: 1px solid #8993a4;
  text-align: center;
}

.tech li {
  background: white;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'inter', sans-serif;
}

.card-1 p {
  margin: 24.55rem 0 0 0;
  padding: 12px;
  height: 48px;
  color: #fff;
  background-color: #f55800;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Inter, sans-serif;
}

.info-card-2 p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #fff;
}

.info-card-3 p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #fff;
}

.info-card-4 p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #fff;
}

.header-about p {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  color: #fff;
}

.contact-container-rwd p {
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #262626;
}

.info p:last-child {
  width: 7.75rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  background-color: #f55800;
  color: #fff;
}

/* --------- BEGIN WORKS GRID ---------- */

.cards-box {
  display: grid;
  gap: 2rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.card-1 {
  height: 435px;
  width: 369px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/1-img-paceholder.png);
  background-repeat: no-repeat;
}

.card-2 {
  height: 435px;
  width: 369px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/2-img-placeholder.png);
  background-repeat: no-repeat;
}

.info-card-2 {
  display: flex;
  flex-direction: column;
  margin-top: 10.6rem;
  margin-left: 1rem;
  gap: 1.5rem;
}

.info-card-2 h3 {
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.card-3 {
  height: 435px;
  width: 369px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/3-img-placeholder.png);
  background-repeat: no-repeat;
}

.info-card-3 {
  display: flex;
  flex-direction: column;
  margin-top: 13.3rem;
  margin-left: 1rem;
  gap: 1.6rem;
}

.info-card-3 h3 {
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.card-4 {
  height: 435px;
  width: 369px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/4-img-placeholder.png);
  background-repeat: no-repeat;
}

.info-card-4 {
  display: flex;
  flex-direction: column;
  margin-top: 10.6rem;
  margin-left: 1rem;
  gap: 1.5rem;
}

.info-card-4 h3 {
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.technologys {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 1rem;
  color: #fff;
}

.p_technologys {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  padding: 0.16rem 1rem;
  border: 1px solid #8993a4;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
}

/* ------- END Works Grid ---------- */

/* *END RECENT WORKS SECTION */

/* *BEGIN About Me Section* */

.about-me-container {
  display: flex;
  background: #262626;
}

.about {
  display: flex;
  flex-direction: column;
}

.header-about {
  margin-left: 8.875rem;
  margin-top: 8.125rem;
  margin-bottom: 8.687rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-about h2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.18rem;
  text-align: left;
  color: #f55800;
}

.header-about button {
  padding: 12px;
  width: 161px;
  height: 48px;
  color: #fff;
  background-color: #f55800;
}

.about-tech-skills {
  margin-top: 3rem;
  margin-left: auto;
  align-self: center;
}

.language-skill {
  margin-right: 176px;
  width: 225px;
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.frameworks-skill {
  margin-right: 11rem;
  margin-bottom: 2rem;
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-list {
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-skills-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.card-skills-title .icons-skills-rectangle {
  width: 26px;
  height: 26px;
  align-self: center;
}

.card-skills-title .icons-skills-square {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 18px;
}

.card-skills-title .icons-skills-circle {
  width: 20px;
  height: 20px;
  align-self: center;
}

.lang-title {
  margin-left: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  align-self: center;
  text-align: center;
  color: #fff;
}

.tags-skills {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #fff;
  list-style: none;
}

/* *END ABOUT ME SECTION */

/* *BEGIN Contact Form Section* */

.contact-container-rwd {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #262626;
  justify-items: center;
  justify-content: center;
}

.contact-form {
  margin: 8.125rem 0 9.625rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: center;
}

input {
  width: 295px;
  height: 18px;
  border: 0;
  margin-left: 16px;
}

input[type='email'] {
  margin-top: 39px;
}

input[type='submit'] {
  width: 122px;
  height: 48px;
  margin-top: 24px;
  background-color: #f55800;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

textarea {
  margin-top: 24px;
  padding: 12px;
  border: 0;
  font-family: Inter, sans-serif;
  background: #fbf8f7;
}

.separator-line {
  margin-top: 14px;
  width: 684px;
  height: 1px;
  background: #dbd8d7;
  border: 0;
}

/* *END CONTACT FORM SECTION* */

/* *BEGIN Footer Section */

.media-links {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* *END FOOTER SECTION* */

/* *Efects and actions* */

.button_form:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 2px solid #f55800;
}

.button:hover {
  cursor: pointer;
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.personal-logo {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  transition: width 2s, height 2s, transform 2s;
}

.personal-logo:hover {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: #f55800;
  transform: rotate(360deg);
}

a:hover,
a:focus {
  background-color: #f55800;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
}

@keyframes text {
  from {
    background-color: #cfcfcf;
  }

  to {
    background-color: #f55800;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 120%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* ******* Media Queries ****** */

/* -------- Desktop version --------- */

@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }

  .nav-header {
    display: flex;
  }

  .contact-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    color: #262626;
    justify-items: center;
    justify-content: space-evenly;
  }

  .contact-container p {
    margin-top: 8.125rem;
    font-family: Inter, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    color: #262626;
  }

  .multi-post {
    display: flex;
    margin: 7.12rem 0 0 0;
  }

  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    margin: 1.5rem 0 0 0;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    background: #262626;
    background-image: url(../images/illustration-about-me.png);
    background-repeat: no-repeat;
    background-position: 100% 10%;
    margin-top: 8.12rem;
  }

  .about-tech-skills {
    margin-left: 142px;
    margin-top: 146px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .head {
    background-image: url(../images/Illustration-header-5.png);
  }
}
